<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.drawapp8.mibugizlla"
	versionCode="10" 
	version   = "1.0.0">
	<name>mibugizlla</name>
	<description>Bugzilla For Mobile</description>
	<author href="https://www.drawapp8.com" email="drawapp8@hotmail.com">2ccf03b4a07b7143</author>

<preference name="orientation" value="portrait" />
<preference name="target-device" value="universal" />
<preference name="prerendered-icon" value="1" />
<preference name="ios-statusbarstyle" value="default" />
<preference name="exit-on-suspend" value="1" />
<preference name="show-splash-screen-spinner" value="1" />
<preference name="auto-hide-splash-screen" value="1" />
<preference name="android-minSdkVersion" value="15" />
<preference name="android-installLocation" value="auto" />
<preference name="load-url-timeout" value="20000" />
<preference name="splash-screen-duration" value="3000" />
<preference name="disable-cursor" value="1" />

<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
<icon src="icons/webos/icon.png" gap:platform="webos" />
<icon src="icons/webos/miniicon.png" gap:platform="webos" gap:role="mini" />
<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
<icon src="icons/bb/icon.png" gap:platform="blackberry" />
<icon src="icons/bb/icon_hover.png" gap:platform="blackberry" gap:state="hover"/>
<icon src="icons/winphone/icon.png" gap:platform="winphone" />
<icon src="icons/winphone/tileicon.png" gap:platform="winphone" gap:role="background" />


<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>

<access origin="*" />
</widget>